button.btn.btn-primary.Logoutbtn {
    border: none;
    background: transparent;

}

.deleteAlertBox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.445);
    width: 100%;
    height: 100vh;
    z-index: 100000;
    backdrop-filter: blur(1px);
  }
  
  .deleteAlertBoxContainer {
    background-color: #fafafa;
    width: 300px;
  }
  
  .deleteAlertBoxContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    background: white;
    padding: 20px;
    width: 400px;
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%),
      0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
    border-radius: 7px;
  }
  
  .deleteAlertBoxContent > i {
    font-size: 33px;
    color: red;
  }
  
  .deleteAlertBoxContent > p {
    margin-top: 5px;
    margin-bottom: 6px;
    font-size: 12px;
  }
  
  .deleteAlertBoxbutton {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    padding: 20px;
  }
  
  .deleteAlertBoxContent > h5 {
    text-align: center;
    color: #8048d0;
  }
  .text-muted {
    /* color: #007bff !important; */
}
img.img_file {
  width: 50px;
  height: 50px;
  /* align-items: center; */
}
  